h1{
    color: deeppink;
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-color: skyblue;
}


img:hover{
    width: 40%;
    height: 40%;
    background-color: gold;
}

hr{
    border-top-style: double;
    border-bottom-style: dashed;
    border-color: brown;
    border-width: 3px;
    height: 2px;
}


/***********************CLASS SELECTORS***********************/

.coding1{
    width: 20%;
    height: 20%;
    background-color: darkgrey;
}

.emoji1{
    width: 10%;
    height: 10%;
    background-color: rgb(113, 88, 210);
}

.emoji2{
    width: 20%;
    background-color: rgb(137, 114, 149);
}

.circular{                  
    border-radius: 10px;
    border-color: black;
    border-style: dashed;
    border-width: 5px;
}

/***********************ID SELECTORS***********************/
#heading1{
    color: rgb(218, 99, 14);
}
